body {
  background: #232323;
  color: white !important;
  height: 100%;
}
.twitch {
  width: 75px;
}
.twitch:hover {
  filter: drop-shadow( 0px 0px 10px #8751F6);
}
.jumbotron {
  height: 60% !important;
  /* background-color: #0a6969; */
  color: #1E1B1A !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0;
  background:
    linear-gradient(
        rgba(10,105,105,0.5),
        rgba(10,105,105,0.5)
      ),
    url('../img/website.gif');
    background-size: 100% 150%;
}
.center {
  margin: auto;
}
html {
  height: 100%;
}
.icon-scuba {
  width: 256px;
}
.MW {
  width: 128px;
}
.rust {
  width: 110px;
}
.tarkov {
  width: 150px;
}
.valorant {
  width: 100px;
}
.game-circle {
  box-shadow: 0px 4px 4px #000000;
  border: black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  transition: transform .2s;
}
.game-circle:hover {
  box-shadow: 0px 0px 10px #000000;
  transform: scale(1.15);
}
.rust-color {
  background: #CD412B;
}
.rust-color:hover {
  box-shadow: 0px 0px 10px #CD412B !important;
}
.mw-color {
  background: #735C22;
}
.mw-color:hover {
  box-shadow: 0px 0px 10px #735C22 !important;
}
.tarkov-color {
  background: #14386E;
}
.tarkov-color:hover {
  box-shadow: 0px 0px 10px #14386E !important;
}
.valorant-color {
  background: #EB545B;
}
.valorant-color:hover {
  box-shadow: 0px 0px 10px #EB545B !important;
}
hr {
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid #5B5B5B;
}
.youtube {
  width:100px;
}
.youtube:hover {
  filter: drop-shadow( 0px 0px 10px #FF0000);

}
h2 {
  color: #DCDCDC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.games .container {
  max-width: 800px;
}
@media (max-width: 992px) {
  .jumbotron {
    background: none;
    background-color: #0a6969;
  }
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* .content a {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.content span {
  display: inline-block;
}
.content a.a-twitch {
   float:right;
   clear:right;
} */
